<h1>餐廳後台</h1>

<div class="row admin-panel-nav mx-0">
  <div class="col-4 pr-1 pl-0 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/restaurants">
      <i class="fas fa-store-alt mr-2"></i>
      <span class="d-none d-md-inline">Manage Restaurants</span>
    </a>
  </div>
  <div class="col-4 px-1 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/users">
      <i class="fas fa-user mr-2"></i>
      <span class="d-none d-md-inline">Manage Users</span>
    </a>
  </div>
  <div class="col-4 pl-1 py-2 pr-0">
    <a class="panel-nav-item py-2 d-block" href="/admin/restaurants/create">
      <i class="fas fa-plus mr-2"></i>
      <span class="d-none d-md-inline">New Restaurants</span>
    </a>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!--Pagination-->
<nav aria-label="Restaurants results pages">
  <ul class="pagination justify-content-center">
    {{#if hasLastPage}}
    <li class="page-item"><a href="/admin/restaurants?page={{lastPage}}" class="page-link" aria-label="Previous"><span
          aria-hidden="true">&laquo;</span></a></li>
    {{/if}}
    {{#each pagination}}
    <li class="page-item {{isCurrentPage ../currentPage this}}"><a class="page-link"
        href="/admin/restaurants?page={{this}}">{{this}}</a></li>
    {{/each}}
    {{#if hasNextPage}}
    <li class="page-item"><a href="/admin/restaurants?page={{nextPage}}" class="page-link" aria-label="Next"><span
          aria-hidden="true">&raquo;</span></a></li>
    {{/if}}
  </ul>
</nav>