<h1>餐廳後台</h1>

<div class="row admin-panel-nav mx-0">
  <div class="col-4 pr-1 pl-0 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/restaurants">
      <i class="fas fa-store-alt mr-2"></i>
      <span class="d-none d-md-inline">Manage Restaurants</span>
    </a>
  </div>
  <div class="col-4 px-1 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/users">
      <i class="fas fa-user mr-2"></i>
      <span class="d-none d-md-inline">Manage Users</span>
    </a>
  </div>
</div>

<section id="admin-panel" class="mt-3">
  <!--Search Input-->
  <form action="/admin/users" method="get">
    <div class="input-group my-2">
      <input type="text" name="email" id="email" class="form-control" placeholder="Find a restaurant"
        value="{{searchInput}}">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>

  <!--Admin Panel Table-->
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><a href="/admin/users?sortBy=id:{{changeOrder sortId}}">#<i class="fas fa-sort ml-2"></i></a>
        </th>
        <th scope="col"><a href="/admin/users?sortBy=email:{{changeOrder sortEmail}}">Email<i
              class="fas fa-sort ml-2"></i></a></th>
        <th scope="col"><a href="/admin/users?sortBy=isAdmin:{{changeOrder sortRole}}">Role<i
              class="fas fa-sort ml-2"></i></a>
        </th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.email}}</td>
        <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
        <td>
          <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">
              {{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>