<h1>餐廳後台</h1>

<a href="/admin/restaurants" class="btn btn-link p-0" role="button">Restaurants</a>
<span>|</span>
<a href="/admin/users" class="btn btn-link p-0" role="button">users</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            {{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>