<h1>餐廳後台</h1>

<div class="row admin-panel-nav mx-0">
  <div class="col-4 pr-1 pl-0 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/restaurants">
      <i class="fas fa-store-alt mr-2"></i>
      <span class="d-none d-md-inline">Manage Restaurants</span>
    </a>
  </div>
  <div class="col-4 px-1 py-2">
    <a class="panel-nav-item py-2 d-block" href="/admin/users">
      <i class="fas fa-user mr-2"></i>
      <span class="d-none d-md-inline">Manage Users</span>
    </a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">
            {{#if this.isAdmin}}set as user{{else}}set as admin{{/if}}
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>