<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
</ul>
<br />

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
<br />

<div class="row">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <div class="d-flex align-items-center">
          <span class="badge badge-secondary mr-2">{{this.Category.name}}</span>
          <!--Like buttons-->
          {{#if this.isLiked}}
          <form action="/like/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn p-0" type="submit"><i class="fas fa-heart text-danger"></i></button>
          </form>
          {{else}}
          <form action="/like/{{this.id}}" method="POST">
            <button class="btn p-0 like-btn"><i class="far fa-heart"></i></button>
          </form>
          {{/if}}
        </div>
        <p class="card-text">{{this.description}}</p>
        <!--Favorite buttons-->
        {{#if this.isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
            class="btn btn-danger">移除最愛</button>
        </form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-primary">加到最愛</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

<!--Pagination-->
<nav aria-label="Restaurants results pages">
  <ul class="pagination justify-content-center m-0">
    {{#if hasLastPage}}
    <li class="page-item"><a href="/restaurants?page={{lastPage}}&categoryId={{categoryId}}" class="page-link"
        aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {{/if}}
    {{#each pagination}}
    <li class="page-item {{isCurrentPage ../currentPage this}}"><a class="page-link"
        href="/restaurants?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
    </li>
    {{/each}}
    {{#if hasNextPage}}
    <li class="page-item"><a href="/restaurants?page={{nextPage}}&categoryId={{categoryId}}" class="page-link"
        aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    {{/if}}
  </ul>
</nav>