<!--Nav-->
<!--Nav-->
<ul class="nav nav-tabs nav-fill shadow mt-3">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-home mr-1"></i>
      <span class="d-none d-md-inline">首頁</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">
      <i class="fas fa-volume-down mr-1"></i>
      <span class="d-none d-md-inline">最新動態</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">
      <i class="fas fa-crown mr-1"></i>
      <span class="d-none d-md-inline">TOP10 人氣餐廳</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/users/top">
      <i class="fas fa-user-astronaut mr-1"></i>
      <span class="d-none d-md-inline">美食達人</span>
    </a>
  </li>
</ul>


{{!-- <h1>美食達人</h1>
<hr /> --}}


<!--Display Section-->
<section class="p-3 display-panel rounded-bottom shadow mb-5" id="top-user-section">
  <div class="row" style="text-align: center;">
    {{#each users}}
    <div class="col-12 col-md-6 col-lg-3 my-3">
      <a href="/users/{{this.id}}">
        <img class="rounded-circle img-thumbnail avatar" src="{{this.image}}">
      </a>
      <h4 class="topic mb-0 mt-1">{{this.name}}</h4>
      <small class="text-secondary d-block">{{this.FollowerCount}} Followers</small>
      {{#if this.isOwner}}
      <a href="/users/{{this.id}}/edit" class="btn btn-outline-secondary btn-sm rounded-pill mt-2">
        Edit Profile
      </a>
      {{else}}
      {{#if this.isFollowed }}
      <form action="/following/{{this.id}}?_method=DELETE" method="POST" class="mt-1">
        <button type="submit" class="btn btn-outline-secondary btn-sm rounded-pill">
          <i class="fas fa-star mr-1"></i>取消追蹤
        </button>
      </form>
      {{else}}
      <form action="/following/{{this.id}}" method="POST" class="mt-1">
        <button type="submit" class="btn btn-outline-secondary btn-sm rounded-pill">
          <i class="far fa-star mr-1"></i>追蹤
        </button>
      </form>
      {{/if}}
      {{/if}}
    </div>
    {{/each}}
  </div>
</section>